/*font-family: 'Arvo', serif;

font-family: 'Permanent Marker', cursive;

font-family: 'Pacifico', cursive;

/* RGB */
/*
#565656: rgba(86, 86, 86, 1);
#84828F: rgba(132, 130, 143, 1);
#F0E7D8: rgba(240, 231, 216, 1); #F0E7D8
#BFB5AF: rgba(191, 181, 175, 1);
#1F5673: rgba(31, 86, 115, 1);*/

h1, h2, h3, h5 {
  /*font-weight: 700;*/
  color: #F0E7D8;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Pacifico', cursive;
}

h4 {
  color: #565656;

  font-family: 'Arvo', serif;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid #565656;
    opacity: 0.8;
    filter: alpha(opacity=90);
    border-radius: 5px;
}

.form-control {
  color: white;
}

.inline {
  display: inline-block;
}

.media-object {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.media h3 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}

.navbar-inverse {
  background-color: #565656;
  color: #F0E7D8;
}

.panel {
  border-radius: 5px;
  background-color: #565656;
}

.panel-heading {
  background-color: #1F5673;
}

.panel-primary>.panel-heading {
    color: #F0E7D8;
    background-color: #1F5673;
    border-color: #1F5673;
}
.panel-title {
  font-size: 200%;
  border-radius: 5px;
  background-color: #1F5673;
}

body {
  overflow-x: hidden;
  font-family: 'Arvo', serif;
  background-color: #F0E7D8;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #1F5673;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #1F5673;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #565656;
}

.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: #F0E7D8;
  background-color: #1F5673;
  border-color: #1F5673;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #F0E7D8;
  background-color: #565656;
  border-color: #565656;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #1F5673;
  border-color: #1F5673;
}
.btn-primary .badge {
  color: #1F5673;
  background-color: #F0E7D8;
}
.btn-lg {
  color: #F0E7D8;
  background-color: #1F5673;
  border-color: #1F5673;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 200px;
}
.btn-sm:hover,
.btn-sm:focus,
.btn-sm:active,
.btn-sm.active,
.open .dropdown-toggle.btn-sm {
  color: #F0E7D8;
  background-color: #565656;
  border-color: #565656;
}
.btn-sm:active,
.btn-sm.active,
.open .dropdown-toggle.btn-sm {
  background-image: none;
}
.btn-sm.disabled,
.btn-sm[disabled],
fieldset[disabled] .btn-sm,
.btn-sm.disabled:hover,
.btn-sm[disabled]:hover,
fieldset[disabled] .btn-sm:hover,
.btn-sm.disabled:focus,
.btn-sm[disabled]:focus,
fieldset[disabled] .btn-sm:focus,
.btn-sm.disabled:active,
.btn-sm[disabled]:active,
fieldset[disabled] .btn-sm:active,
.btn-sm.disabled.active,
.btn-sm[disabled].active,
fieldset[disabled] .btn-sm.active {
  background-color: #1F5673;
  border-color: #1F5673;
}

.btn-lg:active,
.btn-lg.active,
.open .dropdown-toggle.btn-lg {
  background-image: none;
}
.btn-lg.disabled,
.btn-lg[disabled],
fieldset[disabled] .btn-lg,
.btn-lg.disabled:hover,
.btn-lg[disabled]:hover,
fieldset[disabled] .btn-lg:hover,
.btn-lg.disabled:focus,
.btn-lg[disabled]:focus,
fieldset[disabled] .btn-lg:focus,
.btn-lg.disabled:active,
.btn-lg[disabled]:active,
fieldset[disabled] .btn-lg:active,
.btn-lg.disabled.active,
.btn-lg[disabled].active,
fieldset[disabled] .btn-lg.active {
  background-color: #1F5673;
  border-color: #1F5673;
}
.btn-lg .badge {
  color: #1F5673;
  background-color: #F0E7D8;
}


@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
header {
  background-image: url('book2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #F0E7D8;
}
header .intro-text {
  padding-top: 10px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
  text-shadow: 2px 2px 4px #000000;
}
header .intro-text .intro-heading {
  font-family: 'Pacifico', cursive;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: 'Arvo', serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #F0E7D8;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #F0E7D8;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #1F5673;
  color: #F0E7D8;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #F0E7D8;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #1F5673;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #1F5673;
}
